# Reming ProjectManager (Compiler and Core) and Runtime (Interpreter and Core) from github
out/QlProject/
out/Compiler.pdb
out/Core.pdb
out/Interpreter.pdb
out/ql.exe
out/ql.pdb
out/qli.exe
out/qli.pdb

# Removing compiled parts and not necessary files
/Core/bin/
/Core/obj/
/Compiler/bin/
/Compiler/obj/
/ProjectManager/bin/
/ProjectManager/obj/
/Runtime/bin/
/Runtime/obj/
/Interpreter/bin/
/Interpreter/obj/
/NumericLib/bin/
/NumericLib/obj/
/_bin
